# Logs
logs
*.log
/logs

# Dependency directories
node_modules
npm/node_modules

# NPM / Yarn
.npm
.node_repl_history
npm-debug.log*
.yarn

# Config Files
/config.yml

# Data directories
/repo
/data
/uploads
/content
/temp
*.sqlite

# IDE exclude
.idea
*.sublime-*

# Test results
test-results/
.scannerwork

# Localization Resources
/server/locales/**/*.yml

# package-lock.json file
package-lock.json
